<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513562711427-tc0nn1s2hpcq69jemp2j8jab9ihdre3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513562711427-tc0nn1s2hpcq69jemp2j8jab9ihdre3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAZnCIMS6APlEEXSKe2yr1G_fqeZdmLixo</string>
	<key>GCM_SENDER_ID</key>
	<string>513562711427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spotifySearch.BlueEyes</string>
	<key>PROJECT_ID</key>
	<string>spotify-search-1c983</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-search-1c983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513562711427:ios:94eb1f12d9cb88c0c512b6</string>
</dict>
</plist>